.hero {
    background-color: #f1f2f4;
    padding: 50px 0;
    margin-bottom: 130px;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__content {
        display: flex;

        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 100px;

            p {
                font-size: 18px;
                line-height: 21px;
                color: #727a82;
            }

            h1 {
                font-family: "Anton", sans-serif;
                font-size: 128px;
                line-height: 188px;
                margin-bottom: 40px;
            }
        }

        img {
            max-width: 430px;
            height: auto;
        }
    }

    &__social {
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}