.social {
    li:first-child{
        margin-bottom: 35px;
    }
}

.social-row {
    display: flex;

    li:first-child {
        order: 1;
        margin-left: 35px;
    }

    li:last-child {
        order: 0;
        
    }
}