.blockHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-weight: 800;
        font-size: 32px;
    }

    a {
        font-size: 18px;
    }
}