.fall {
    display: flex;

    &__content {
        background-image: url('../assets/img/45deg.png');
        width: 100%;
        display: flex;
        align-items: center;

        &-block {
            background-color: #f1f2f4;
            width: 80%;
            height: 90%;
            padding: 70px;
            

            h2 {
                margin: 20px 0 50px 0;
            }
        }
    }
}