.icons {
    font-size: 20px;

    a {
        margin-left: 35px;
    }

    a:first-child {
        margin-left: 0;
    }
}

.icons-row {
    display: flex;
    flex-direction: column;

    a {
        margin-left: 0;
        margin-bottom: 35px;
    }

    a:first-child {
        order: 1;
    }

    a:last-child {
        order: 0;
    }

    
}

