* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

a {
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style: none;
}

.wrapper {
    max-width: 1205px;
    margin: 0 auto;
}
